*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Telex', sans-serif;
}
html{
  scroll-behavior: smooth;
}
header{
    border-bottom: 1px solid black;
}

nav{
    width: 100%;
    position: fixed;
    text-align: center;
    
}

nav ul li{
    display: inline-block;
    
}


.l1{
    background-color: #fff;
    color: black;
   
}
.l2{
    background-color: black;
    
}
.l3{
    background-color: #F7A3A2;
    
}
.l4{
    background-color: #BED9DE;
    
    
}

header nav ul li a {
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    padding: 15px 0;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    width: 24vw;
    
    font-family: 'Nunito', sans-serif;
    
}

.a1{
    color: black;
}
.a2,.a3,.a4{
    color: #ffff;
    
}

#home{
    height: 85vh;
    width: 100%;
    background-color: #B52300;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    font-family: 'Telex', sans-serif;
}

.imgholiday{
  height: 35vh;
}
.texthome{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    
}
.colecao1, .colecao2{
    text-transform: uppercase;
    color: #ffff;
    font-weight: 700;
}
.colecao1{
    font-size: 4rem;
}
.colecao2{
    font-size: 3rem;
}

.botaoCompraHoliday{
    background-color: #ffff;
    border: 0px solid #ffff;
    font-size: 1.5rem;
    padding: 10px 40px;
    margin-top: 6%;
    text-transform: uppercase;
    color: #B52300;
    font-weight: 700;
    cursor: pointer;
}
.botaoCompraHoliday:hover{
    border: 2px solid #ffff;
    transition: .2s;
}
#cosmetics{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 100%;
   
}
.container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  /* Card */
  .card {
    width: 23%;
    height: 100%;
    margin: 25px;
    background-color: #fff;
    overflow: hidden;
    border: 1px solid gray;
  }

  
  /* Card Header*/
  .card-header1 {
    width: 100%;
    height: 300px;
    overflow: hidden;
    background: url(./img/BatomVermelho1.jpg);
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: .5s step-end;
  }

  .card-header2{
    width: 100%;
    height: 300px;
    overflow: hidden;
    background: url(./img/paleta1.jpg);
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: .5s step-end;
  }

  .card-header3{
    width: 100%;
    height: 300px;
    overflow: hidden;
    background: url(./img/iluminador.jpg);
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: .5s step-end;
  }

  


  .card-header1:hover{
    background: url(./img/modelobatom1.webp);
    background-size: cover;
    background-position: center;
  }
  .card-header2:hover{
    background: url(./img/2021-07-02-sombra-vermelha-1.webp);
    background-size: cover;
    background-position: center;
  }
  .card-header3:hover{
    background: url(./img/iluminador-holografico-20180215133255.webp);
    background-size: cover;
    background-position: center;
  }
 

 
  /* Card Body */
  .card-body {
    height: 170px;
    padding: 15px;
    text-align: center;
    font-family: sans-serif;
  }
  
  .card-name {
    font-size: 30px;
    margin: 13px 0;
    color: #292E40;
  }
  
  .card-titulo {
    font-size: 16px;
    margin: 15px 0;
  }
  
 
  /* Card Footer */
  .card-footer {
    margin-top: 10px;
    text-align: center;
    background-color: #000;
  }
  
  .card-footer a {
    color: #fff;
    display: block;
    padding: 16px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
    
  }

  .propagandobatman{
    height: 30vh;
    background: url(./img/The-Batman-e-Mulher-Gato-2.webp);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    color: #ffff;
  }

  .batmantitle{
    font-size: 3.8rem;
  }
  .batmansubtitle{
    font-weight: 200;
  }
  .espaco{
    height: 10vh;
  }
  #gigi{
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: url(./img/gigi-hadid-2018-hd-cy.jpg);
    background-position: center;
    background-size: cover;
  }
  .textGigi{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-right: 50vw;
    
  }
  .colecaoGigi1, .colecaoGigi2{
    text-transform: uppercase;
    color: #ffff;
    font-weight: 700;
    
}
.colecaoGigi1{
    font-size: 4rem;
}
.colecaoGigi2{
    font-size: 3rem;
}
.botaoCompraGigi{
  background-color: #ffff;
  border: 0px solid #ffff;
  font-size: 1.5rem;
  padding: 10px 40px;
  margin-top: 6%;
  text-transform: uppercase;
  color: #3C3741;
  font-weight: 700;
  cursor: pointer;
}
.botaoCompraGigi:hover{
  border: 2px solid #ffff;
  transition: .2s;
}
#skin{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  width: 100%;
}
.card-header4 {
  width: 100%;
  height: 300px;
  overflow: hidden;
  background: url(./img/creme1.webp);
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: .5s step-end;
}

.card-header4:hover{
  background: url(./img/pele1.jpg);
  background-size: cover;
  background-position: center;
}

.card-header5{
  width: 100%;
  height: 300px;
  overflow: hidden;
  background: url(./img/creme2.jpg);
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: .5s step-end;
}
.card-header5:hover{
  background: url(./img/pele2.jpg.crdownload);
  background-size: cover;
  background-position: center;
}

.card-header6{
  width: 100%;
  height: 300px;
  overflow: hidden;
  background: url(./img/creme3.webp);
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: .5s step-end;
}
.card-header6:hover{
  background: url(./img/pele3.jpg);
  background-size: cover;
  background-position: center;
}
.card-name2 {
  font-size: 38px;
  margin: 13px 0;
  color: #292E40;
}
#cloud{
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: url(./img/cloudbg.jpg);
  background-position: center;
  background-size: cover;
}
.textCloud{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  margin-right: 50vw;
  
}
.colecaoCloud1, .colecaoCloud2{
  text-transform: uppercase;
  color: #F7A3A2;
  font-weight: 700;
  
}
.colecaoCloud1{
  font-size: 4rem;
}
.colecaoCloud2{
  font-size: 3rem;
}
.botaoCompraCloud{
background-color: #ffff;
border: 0px solid #ffff;
font-size: 1.5rem;
padding: 10px 40px;
margin-top: 6%;
text-transform: uppercase;
color: #F7A3A2;
font-weight: 700;
cursor: pointer;
}
.botaoCompraCloud:hover{
border: 2px solid #ffff;
transition: .2s;
}

.card-header7 {
  width: 100%;
  height: 300px;
  overflow: hidden;
  background: url(./img/bebeperfume.webp);
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: .5s step-end;
}
.card-header7:hover{
  background: url(./img/baby2.jpg);
  background-size: cover;
  background-position: center;
}

.card-header8{
  width: 100%;
  height: 300px;
  overflow: hidden;
  background: url(./img/cremebebe.webp);
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: .5s step-end;
}

.card-header8:hover{
  background: url(./img/baby1.webp);
  background-size: cover;
  background-position: center;
}

.card-header9{
  width: 100%;
  height: 300px;
  overflow: hidden;
  background: url(./img/conjunto.jpg);
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: .5s step-end;
  
}

.card-header9:hover{
  background: url(./img/baby3.jpg);
  background-size: cover;
  background-position: center;
}

#values{
  display: grid;
  grid-template-areas: "title title"
  "vegan clean";
  grid-template-rows: auto 2fr;
  grid-template-columns: 1fr 1fr;
  height: 90vh;
  width: 100%;
 
  
}
.title-values{  
  grid-area: title;
  text-align: center;
  font-weight: 700;
  width: 100%;
  padding-top: 5%;
  font-size: 10rem;
  
  
  
}
.values_description1{ 
  grid-area: vegan;
   align-items: center;
   justify-content: center;
    text-decoration: none;
   
    
    
  }

  .values_description2{
 
    
    grid-area: clean;
    
  }
.title-vegan, .title-clean{
  margin-left: 47%;
  font-size: 2rem;
  padding-top: 5%;
}
.vegan, .clean{
    font-size: 44px;
    width: 8%;
    
    
}

.vegan{
  color: green;
  margin-left: 50%;
}

.clean{
  color: #BED9DE;
  margin-left: 50%;
}
.text-vegan,.text-clean{
  text-align: center;
  padding-top: 10%;
  width: 50%;
  margin-left: 26%;
  
}
.alert{
  height: 25vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-top: 1px solid gray;
}
.title-alert{
  font-size: 2rem;
  margin-left: 45%;
  padding-top: 35px;
}

.text-alert{
  width: 70%;
  margin-left: 15%;
}
.social-media{
   height: 15vh;
  display: flex;
  justify-content: center;
  text-decoration: none;
  gap: 50px;
  place-items: center;
  font-size: 44px;
  background-color: #000;
  
}

.face,.zap,.twitter,.instagram{
  color: #ffff;
}