*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    border-bottom: 1px solid black;
}

nav{
    width: 100%;
    position: fixed;
    text-align: center;
    
}

nav ul li{
    display: inline-block;
    opacity: 0.8;
}
nav ul li:hover{
    
    opacity: 1;
}

.l1{
    background-color: #fff;
    color: black;
   
}
.l2{
    background-color: black;
    
}
.l3{
    background-color: #F7A3A2;
    
}
.l4{
    background-color: #BED9DE;
    
    
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    padding: 15px 0;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    width: 24vw;
    font-family: 'Nunito', sans-serif;
    
}

.a1{
    color: black;
}
.a2,.a3,.a4{
    color: #ffff;
    
}

#home{
    height: 85vh;
    width: 100%;
    background-color: #B52300;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    font-family: 'Telex', sans-serif;
}
.texthome{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    
}
.colecao1, .colecao2{
    text-transform: uppercase;
    color: #ffff;
    font-weight: 700;
}
.colecao1{
    font-size: 3.4rem;
}
.colecao2{
    font-size: 3.8rem;
}

.botaoCompraHoliday{
    background-color: #ffff;
    border: 0px solid #ffff;
    font-size: 1.5rem;
    padding: 10px 40px;
    margin-top: 6%;
    text-transform: uppercase;
    color: #B52300;
    font-weight: 700;
    cursor: pointer;
}
.botaoCompraHoliday:hover{
    border: 2px solid #ffff;
    transition: .2s;
}
#cosmetics{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 100%;
   
}
.container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  /* Card */
  .card {
    width: 380px;
    height: 570px;
    margin: 25px;
    background-color: #fff;
    overflow: hidden;
    border: 1px solid gray;
  }

  
  /* Card Header*/
  .card-header1 {
    width: 100%;
    height: 300px;
    overflow: hidden;
    background: url(./img/BatomVermelho1.jpg);
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: .2s step-end;
  }

  .card-header2{
    width: 100%;
    height: 300px;
    overflow: hidden;
    background: url(./img/paleta1.jpg);
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: .2s step-end;
  }

  .card-header3{
    width: 100%;
    height: 300px;
    overflow: hidden;
    background: url(./img/iluminador.jpg);
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: .2s step-end;
  }

  


  .card-header1:hover{
    background: url(./img/modelobatom1.webp);
    background-size: cover;
    background-position: center;
  }
  .card-header2:hover{
    background: url(./img/2021-07-02-sombra-vermelha-1.webp);
    background-size: cover;
    background-position: center;
  }
  .card-header3:hover{
    background: url(./img/iluminador-holografico-20180215133255.webp);
    background-size: cover;
    background-position: center;
  }
 

 
  /* Card Body */
  .card-body {
    height: 170px;
    padding: 15px;
    text-align: center;
    font-family: sans-serif;
  }
  
  .card-name {
    font-size: 30px;
    margin: 13px 0;
    color: #292E40;
  }
  
  .card-titulo {
    font-size: 16px;
    margin: 15px 0;
  }
  
  .card-texto {
    font-size: 12px;
    width: 250px;
    margin: 0 auto;
  }
  
  /* Card Footer */
  .card-footer {
    margin-top: 10px;
    text-align: center;
    background-color: #000;
  }
  
  .card-footer a {
    color: #fff;
    display: block;
    padding: 16px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
    
  }

  .propagandobatman{
    height: 30vh;
    background: url(./img/The-Batman-e-Mulher-Gato-2.webp);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    color: #ffff;
  }

  .batmantitle{
    font-size: 3.8rem;
  }
  .batmansubtitle{
    font-weight: 200;
  }
